<head>

    <link href="/stylesheets/catagories.css" rel="stylesheet">
<body>

   <table>

{{#each contact}}
       {{#ifEquals category "book"}}
    <tr>
        <th style="color:red; font-size:40px; font-family:verdana;"> Product Name:</th>
       <td><div class="title">{{title}}</div></td>
       </tr>
       <tr>
           <th style="color:red; font-size:40px; font-family:verdana;">Description:</th> 
        <td><div class="description">{{description}}</div> </td>
        </tr>
       <tr>
           <th style="color:red; font-size:40px; font-family:verdana;"> Price: </th>
       
       <td> <div class="price">{{price}}</div> </td>
       </tr>
       <tr>
           <th style="color:red; font-size:40px; font-family:verdana;"> County:</th>
        <td><div class="county">{{county}}</div></td>
       </tr>
        

       <tr><td><br /></td></tr>
       <tr><td><br /></td></tr>
       {{/ifEquals}}
         
     
{{/each}}

    </table>
                     


    </body>
</head>