

<html>
    
       <title>{{title}}</title>
       <link rel='stylesheet' href='/stylesheets/ad.css' />
      <link rel='stylesheet' href='/stylesheets/style.css' />
       <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
      
    <tr><td><br /></td></tr>
    <tr><td><br /></td></tr>
<h2>Place your Ad</h2>

<div class="container2" >
<form method="post" action="/addContact" id = "submit">
  <div class="row">
      <div class="col-25">
        <label for="category">Item Category</label>
      </div>
      <div class="col-75">
        <select id="category"  name="category" required>
          <option value = "book">Books</option>
          <option value= "electronic" >Electronics</option>
        <option value = "shoe">Shoes</option>
         <option value = "notes">Notes</option>
        <option value = "grinds">Grinds</option>
          <option value  = "clothes">Clothes</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="title">Title</label>
      </div>
      <div class="col-75">
        <input type="text" id="title" name="title" placeholder="Item name.." required>
      </div>
    </div>
          <div class="row">
      <div class="col-25">
        <label for="description" >Description</label>
      </div>
      <div class="col-75">
          <textarea  id="description" name="description" placeholder="Description of Product/Service..." required></textarea>
      </div>
    </div>
   
      
    
   
    
     <div class="row">
      <div class="col-25">
        <label for="price">Price</label>
      </div>
      <div class="col-75">
        <input type="text" id="price" name="price" placeholder="E.g. €50" required>
      </div>
    </div>
    
    <div class="row">
      <div class="col-25">
        <label for="contactEmail">Email Address</label>
      </div>
        <div class="col-75">
        <input type="text" id="contactEmail" name="contactEmail" placeholder="Email Address" required>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="county">County</label>
      </div>
      <div class="col-75">
        <select id="county" name="county" required>
    <option value="Antrim">Antrim</option>
    <option value="Armagh">Armagh</option>
    <option value="Carlow">Carlow</option>
    <option value="Cavan">Cavan</option>
    <option value="Clare">Clare</option>
    <option value="Cork">Cork</option>
    <option value="Derry">Derry</option>
    <option value="Donegal">Donegal</option>
    <option value="Down">Down</option>
    <option value="Dublin">Dublin</option>
    <option value="Fermanagh">Fermanagh</option>
    <option value="Galway">Galway</option>
    <option value="Kerry">Kerry</option>
    <option value="Kildare">Kildare</option>
    <option value="Kilkenny">Kilkenny</option>
    <option value="Laois">Laois</option>
    <option value="Leitrim">Leitrim</option>
    <option value="Limerick">Limerick</option>
    <option value="Longford">Longford</option>
    <option value="Louth">Louth</option>
    <option value="Mayo">Mayo</option>
    <option value="Meath">Meath</option>
    <option value="Monaghan">Monaghan</option>
    <option value="Offaly">Offaly</option>
    <option value="Roscommon">Roscommon</option>
    <option value="Sligo">Sligo</option>
    <option value="Tipperary">Tipperary</option>
    <option value="Tyrone">Tyrone</option>
    <option value="Waterford">Waterford</option>
    <option value="Westmeath">Westmeath</option>
    <option value="Wexford">Wexford</option>
    <option value="Wicklow">Wicklow</option>
</select>
       
      </div>
  
     <form method="post" enctype="multipart/form-data" action="/">
    <input type="file" name="file" onchange="angular.element(this).scope().selectFile(this.files)"/>
    
</form>
     <div class="row">
      <input onsubmit= "window.location.assign = 'http://danu7.it.nuigalway.ie:8625/'; ng-click='savePhoto()'"type="submit" value="Submit">
    </div>
     
  
  
   
       
    <div class="row col-sm-8 col-sm-offset-2" id="feedAds">

</div>
    </div>
    </form>
                                                        


</div>
    <div class="row col-sm-8 col-sm-offset-2" id="feedAds">
{{#each contact}}
        <div class="title">{{title}}</div>    
{{/each}}
</div>
</body>
</html>


