<head>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="137497577732-5ep5qv8a7efba7rl9nct01ufcf4jefts.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>
<link rel='stylesheet' href='/stylesheets/style.css' />
       <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<body>
   <tr><td><br /></td></tr>
    <tr><td><br /></td></tr>
    
<div class="col-md-8 col-md-offset-2">
    <h2>Register new account</h2>
    <form class="form-horizontal" role="form" id="reg-form">
       
        <div class="form-group mt">
            <div class="col-sm-10 col-sm-offset-2">
            <div class="col-sm-3">
                <label for="inputFirstName" class="control-label">First Name</label>
            </div>
            <div class="col-sm-9">
                <input type="text" class="form-control input-lg required" id="inputFirstName" placeholder="First Name">
            </div>
            </div>
        </div>
        <div class="form-group mt">
            <div class="col-sm-10 col-sm-offset-2">
            <div class="col-sm-3">
                <label for="inputSurname" class="control-label">Surname</label>
            </div>
            <div class="col-sm-9">
                <input type="text" class="form-control input-lg required" id="inputSurname" placeholder="Surname">
            </div>
            </div>
        </div>
         <div class="form-group mt">
            <div class="col-sm-10 col-sm-offset-2">
            <div class="col-sm-3">
                <label for="inputUsername" class="control-label">Username</label>
            </div>
            <div class="col-sm-9">
                <input type="text" class="form-control input-lg required" id="inputUsername" placeholder="@username">
            </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
            <div class="col-sm-3">
                <label for="inputPassword" class="control-label">Password</label>
            </div>
            <div class="col-sm-9">
                <input type="password" class="form-control input-lg required" id="inputPassword"
                       placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <div class="row col-sm-offset-2 col-sm-10 mt">
                <button onSubmit="window.location.assign = 'http://danu7.it.nuigalway.ie:8625/';"type="submit" class="btn btn-warning btn-lg">Create Account</button>
            </div>
        </div>
    </form>
</div>
    