<<head></head>
<body>

<tr><td><br /></td></tr>
    <tr><td><br /></td></tr>
	<tr><td><br /></td></tr>

<input type="text" id="myInput" align:"middle"
	onkeyup="myFunction()" placeholder="Search..." title="Type in a product">

  <table id = "mytable">


{{#each contact}}
       {{#ifEquals category "shoe"}}
    <tr>
        <th> Product Name:</th>
       <td><div class="title">{{title}}</div></td>
       
           <th>Description:</th> 
        <td><div class="description">{{description}}</div> </td>
        
           <th> Price: </th>
       
       <td> <div class="price">{{price}}</div> </td>
       
           <th> County:</th>
        <td><div class="county">{{county}}</div></td>
       </tr>
    <tr><td><br /></td></tr>
    <tr><td><br /></td></tr>
       {{/ifEquals}}
{{/each}}

</table>

<script>
function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("mytable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>

    

    </body>
