
.div title{
	font-size: 30px;
	font-family: "Times New Roman", Times, serif;
	position: static;
	text-align: left;

	
}
.div description{  
	font-size: 30px;
	font-family: "Times New Roman", Times, serif;
	position: static;
	text-align: left;

	
}
.div price{
	font-size: 30px;
	font-family: "Times New Roman", Times, serif;
	position: static;
	text-align: left;

	
}
.div county{
	font-size: 30px;
	font-family: "Times New Roman", Times, serif;
	position: static;
	text-align: left;

	
}