body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
* {
    box-sizing: border-box;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search {
    position: relative;
    width: 500px;
   top: -270px;
    left: 50px;
    height: 40px;
}

.searchButton {
    position: relative;
    
    top: -310px;
    left: 535px;
   
td, tr
{
    padding:20px 15px 20px 15px;
}
}
.about
{
      font-size: 18px;
}
.bottom {
    position: centered;
}